.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
  
.flex-container > div {
    width: 200px;
    height: 400px;
}
  
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 25px;
}